<section>
    <div>
        About
    </div>
    <div>
        This is a project that uses a variety of machine learning models to analyze news articles. The models used are:
        <ul>
            <li></li>
            <li>Sentiment Model</li>
            <li>Positive/neutral/negative Model</li>
            <li>Gemini</li>
            <li>GPT</li>
        </ul>
    </div>
    <div>
        The project also uses the Google Search API to search for news articles.
    </div>
    <div>
        The project is built using Angular and Tailwind CSS.
    </div>
    <div>
        The project is hosted on Firebase and uses Firestore as a databas
    </div>
    <div>
        The project is built by:
        <ul>
            <li>Mohit Pala</li>
            <li>Rachel</li>
        </ul>
    </div>
    <div>
        <!-- versioning system based on weeks i guesss -->
        Current version: 0.7.1
    </div>
</section>