<!-- <p>model works!</p>
<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="dummy_emotions"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical> -->
<div id="bar-graph"></div>
<div id="sentiment-pie"></div>
<div id="similarity-radar"></div>
<div id="similarity-gauge"></div>
<div *ngIf="!apiData" class="text-center">
    <p>No data available yet.</p>
</div>

