<main>
  <div id="bar-graph"></div>
  <div id="sentiment-pie"></div>
  <div id="similarity-radar"></div>
  <div id="gauge-cosine-similarity"></div>
  <div id="gauge-tfidf-similarity"></div>
  <div id="gauge-jaccard-words"></div>
  <div id="gauge-jaccard-bigrams"></div>
  <div id="gauge-edit-distance"></div>


  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            Metric
          </th>
          <th scope="col" class="px-6 py-3">
            Your News Article
          </th>
          <th scope="col" class="px-6 py-3">
            Baseline
          </th>
        </tr>
      </thead>
    </table>
  </div>
</main>

<button (click)="onSubmit('sus', 'amongus')">Sus amongus</button>