<!-- <main>

    <div id="loading" [hidden]="!dataRetrived">
        <h1>{{retrivedSearch.title.join(' ')}}</h1>

        Emotion Breakdown
        <div id="emotions"></div>


        Sentiment Breakdown
        <div id="sentiments"></div>

        Metric Comparision

        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Metric
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Your News Article
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Baseline
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let metric of comparisionMetris"
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{metric.name}}
                        </th>
                        <td class="px-6 py-4">
                            {{metric.your | percent}}
                        </td>
                        <td class="px-6 py-4">
                            {{metric.baseline | percent}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>

    <div id="loading" [hidden]="dataRetrived">
        <h1>Loading...</h1>
        <div class="border-gray-300 h-20 w-20 animate-spin rounded-full border-8 border-t-blue-600"></div>
    </div>

    <button (click)="updateData()">get Data</button>

</main> -->



<button (click)="test()">update Data</button>