/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@tailwind utilities;

@theme {

    --color-catppuccinLatteBg: #eff1f5;
    --color-catppuccinLatteSurface: #ccd0da;
    --color-catppuccinLatteSurface1: #bcc0cc;
    --color-catppuccinLatteText: #4c4f69;
    --color-catppuccinLatteSubtext: #5c5f77;
    --color-catppuccinLatteSubtext1: #6c6f85;
    
    --color-catppuccinLatteBlue: #1e66f5;             /*url*/
    --color-catppuccinLatteFlamingo: #dd7878;       /*border*/
}  