<!-- <div class="form-container">
    <form (ngSubmit)="onSubmit(urlForm)" #urlForm="ngForm">
        <div class="form-group">
            <label for="url">URL</label>
            <input type="text" class="form-control" id="url" name="url" [(ngModel)]="url" required
                placeholder="Enter URL">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!urlForm.form.valid">
            Submit
        </button>
    </form>
</div> -->

<main class="px-24 space-y-8 bg-catppuccinLatteBg text-catppuccinLatteText">
    <h1 class="text-blue-400 font-bold text-4xl text-center mb-8">News Analyzer</h1>

    <div class="bg-catppuccinLatteSurface p-6 rounded-lg">
        <form #newsForm="ngForm" (ngSubmit)="onSubmit(newsForm)" class="flex flex-col items-center">
            <div class="w-full max-w-2xl space-y-6">
                <div class="flex flex-col">
                    <label for="url" class="mb-1 text-catppuccinLatteSubtext">URL</label>
                    <input type="text" id="url" name="url" placeholder="Enter URL here..."
                        [disabled]="submitted"
                        class="w-full px-4 py-2 rounded-lg bg-catppuccinLatteBg border border-catppuccinLatteOverlay0 focus:border-catppuccinLatteBlue focus:outline-none"
                        [(ngModel)]="url" required>
                </div>

                <div class="flex flex-col">
                    <label for="title" class="mb-1 text-catppuccinLatteSubtext">Article Title</label>
                    <input type="text" id="title" name="title" placeholder="Enter article title here..."
                        [disabled]="submitted" readonly
                        class="w-full px-4 py-2 rounded-lg bg-catppuccinLatteBg border border-catppuccinLatteOverlay0 focus:border-catppuccinLatteBlue focus:outline-none"
                        [(ngModel)]="title">
                </div>

                <div class="flex flex-col">
                    <label for="article" class="mb-1 text-catppuccinLatteSubtext">Article Text</label>
                    <textarea id="article" name="article" placeholder="Enter article text here..." rows="6"
                        [disabled]="submitted" readonly
                        class="w-full px-4 py-2 rounded-lg bg-catppuccinLatteBg border border-catppuccinLatteOverlay0 focus:border-catppuccinLatteBlue focus:outline-none resize-none"
                        [(ngModel)]="article"></textarea>
                </div>

                <button type="submit" *ngIf="!submitted"
                    class="w-full md:w-1/3 py-2 px-4 bg-catppuccinLatteBlue text-white rounded-lg hover:bg-blue-500 transition-colors mx-auto">
                    Submit
                </button>
            </div>
        </form>
    </div>

    <div [hidden]="!submitted || (!currentlyLoading.gpt && !currentlyLoading.model)"
        class="bg-catppuccinLatteSurface p-6 flex items-center justify-center rounded-lg">
        <!-- word cloud -->
        <app-loading></app-loading>
    </div>

    <div *ngIf="submitted" class="bg-catppuccinLatteSurface p-6 rounded-lg">
        <!-- word cloud -->
        <img src="{{wordCloudSource}}" class="mx-auto">
    </div>

    <div class="bg-catppuccinLatteSurface p-6 rounded-lg">
        <h2 class="text-xl font-semibold text-blue-400 text-center mb-4">Model Output</h2>
        <div *ngIf="!submitted" class="text-center text-catppuccinLatteSubtext">No data available yet. Please submit an
            article.</div>
    </div>

    <app-model [hidden]="currentlyLoading.model" [apiData]="apiData"></app-model>

    <div class="bg-catppuccinLatteSurface p-6 mt-6 rounded-lg">
        <app-gpt [hidden]="currentlyLoading.gpt"></app-gpt>
    </div>

    <div class="flex justify-center space-x-4">
        <button (click)="putInDatabase()"
            class="py-2 px-4 bg-catppuccinLatteBlue text-white rounded-lg hover:bg-blue-500 transition-colors">
            Put in database
        </button>

        <button (click)="reload()"
            class="py-2 px-4 bg-catppuccinLatteBlue text-white rounded-lg hover:bg-blue-500 transition-colors">
            New search
        </button>
    </div>
</main>